<header class="main-header">
	<img src="images/logo.png" alt="Framer Studio Snippet Database">

	<a href="#">
		<span class="">Framer Studio</span>
		Snippet Database
	</a>

	<nav class="main-header-nav">
		<a class="btn btn-success" href="#">Free Trial</a>
		<a class="btn btn-primary" href="#">Buy $79.99</a>
	</nav>
</header>